!!!
html

    head
        title= title || 'Title not set.'
        
        link(href='/media/favicon.ico', rel='icon', type='image/x-icon')
    
        script(type='text/javascript', src='/browserify.js')
        script(type='text/javascript')
            require('./bootstrap');
    
    body
        #header
            h1 Application Title
        
        #content!= body //- this renders the body of an individual view
        
        #footer